.heart-animation {
  $block-name: &; // #{$block-name}__element

  position: relative;

  &__icon {
    position: relative;
    z-index: 20;
    width: 32px;
    height: 32px;
    animation: heart-animation 2.5s ease 0s infinite !important;
  }

  &__block--white &__icon {
    fill: var(--white, #fff);
  }

  &__block--white::before,
  &__block--white::after {
    background-image: url("../img/icon__heart--white.svg");
  }

  &__block--pink &__icon {
    fill: var(--pink, #d91869);
  }

  &__block--pink::before,
  &__block--pink::after {
    background-image: url("../img/icon__heart--pink.svg");
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    transform: translate(-50%, -50%);
    content: "";
  }

  &::before {
    opacity: 0.15;
    animation: heart-before 2.5s ease 100ms infinite !important;
  }

  &::after {
    opacity: 0.25;
    animation: heart-after 2.5s ease 200ms infinite !important;
  }

  @keyframes heart-animation {
    0% {
      transform: scale(1);
    }

    55% {
      transform: scale(1.05);
    }
  }

  @keyframes heart-before {
    20% {
      transform: translate(-50%, -50%) scale(1);
    }

    75% {
      transform: translate(-50%, -50%) scale(1.8);
    }
  }

  @keyframes heart-after {
    10% {
      transform: translate(-50%, -50%) scale(1);
    }

    65% {
      transform: translate(-50%, -50%) scale(1.4);
    }
  }
}
