@import "../../scss/breakpoints";

.hero {
  position: relative;
  background: var(--white, #fff);

  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background: var(--black);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    transform: scale(1.6);
  }

  .swiper-container {
    width: 100%;
    height: inherit;
    margin: 0 auto;
  }

  .swiper-button-disabled {
    &:hover {
      animation: none;
    }
  }

  &__container-decor {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media screen and (min-width: $screen-d) {
      display: block;
    }
  }

  &__wrapper {
    background: #b3315e;
  }

  &__decor-top-disabled,
  &__decor-bottom-disabled {
    svg {
      position: absolute;
      width: 400px;
      height: 400px;
      transition: transform 0.5s ease-out;
    }
  }

  &__decor-top-disabled {
    svg {
      z-index: -1;
      color: #b3315e;
      transform: scale(20);

      &.active {
        transform: scale(1);
      }
    }
  }

  &__decor-bottom-disabled {
    svg {
      bottom: -400px;
      left: -300px;
      transition: 0.5s ease-out;
    }

    &.active {
      svg {
        bottom: -30%;
        left: -100px;
      }
    }
  }

  &__container-flex {
    position: relative;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;

    @media screen and (min-width: $screen-tl) {
      display: flex;
    }
  }

  &__nav {
    display: flex;
    gap: 0 40px;
  }

  &__nav-link,
  &__text {
    margin: 0;
    color: var(--white, #fff);
    line-height: 26px;

    @media screen and (min-width: $screen-tl) {
      font-size: 16px;
    }

    @media screen and (min-width: $screen-d) {
      font-size: 18px;
    }
  }

  &__heart-button {
    display: flex;
    gap: 0 20px;
    align-items: center;
    cursor: pointer;
  }

  &__icon-decor-top {
    position: absolute;
    top: -90px;
    z-index: -1;
    display: none;
    width: 240px;
    height: 200px;
    transform: scale(1.2);

    @media screen and (min-width: $screen-d) {
      right: 0;
      display: block;
    }

    @media screen and (min-width: $screen-dl) {
      right: -50px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 0 32px;
    justify-content: space-between;
    margin-top: 0;

    @media screen and (min-width: $screen-ti) {
      flex-wrap: nowrap;
    }

    @media screen and (min-width: $screen-tl) {
      margin-top: 64px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: $screen-ti) {
      width: 50%;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $screen-d) {
      width: calc(100% - 628px - 32px);
      margin-bottom: 0;
    }
  }

  &__info {
    min-height: 230px;
    margin-top: 25px;
    padding-bottom: 5px;

    @media screen and (min-width: $screen-tl) {
      padding-bottom: 10px;
    }
  }

  &__info-title {
    margin: 48px 0 20px;
    color: var(--white, #fff);
    font-weight: 500;
    font-size: 40px;

    @media screen and (min-width: $screen-tl) {
      margin: 25px 0 28px;
      font-size: 64px;
    }

    @media screen and (min-width: $screen-d) {
      font-size: 72px;
    }
  }

  &__info-smallTitle {
    margin: 48px 0 20px;
    color: var(--white, #fff);
    font-weight: 500;
    font-size: 28px;
    line-height: normal;

    @media screen and (min-width: $screen-tl) {
      margin: 0 0 40px;
      font-size: 40px;
    }

    @media screen and (min-width: $screen-d) {
      font-size: 48px;
    }
  }

  &__info-subtitle {
    margin: 20px 0;
    color: var(--white, #fff);
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $screen-tl) {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 28px;
    }

    @media screen and (min-width: $screen-d) {
      margin: 20px 0;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__info-link {
    position: relative;
    padding-bottom: 5px;
    color: var(--white, #fff);
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $screen-d) {
      font-size: 24px;
      line-height: 32px;
    }

    &::before {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: var(--white, #fff);
      transition: 0.3s ease-out;
      content: "";
    }

    &:hover {
      &::before {
        width: 0;
        opacity: 0;
      }
    }
  }

  &__slider-gallery {
    display: none;
    gap: 0 102px;
    align-items: center;
    margin-bottom: -100px;

    @media screen and (min-width: $screen-tl) {
      display: flex;
      align-items: flex-start;
      margin-bottom: -120px;
    }

    @media screen and (min-width: $screen-d) {
      gap: 0 148px;
      align-items: center;
      margin-bottom: -100px;
    }
  }

  &__container-sliders {
    display: flex;
    gap: 0 20px;
    width: calc(100% - 134px);

    @media screen and (min-width: $screen-d) {
      width: calc(100% - 168px);
    }
  }

  &__gallery-photo {
    object-fit: cover;

    @media screen and (min-width: $screen-tl) {
      width: 167px;
      height: 167px;
    }

    @media screen and (min-width: $screen-d) {
      width: 200px;
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
      aspect-ratio: 1 / 1;
    }
  }

  &__right {
    display: flex;
    gap: 0 32px;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
    margin-top: 32px;
    margin-bottom: -75px;

    @media screen and (min-width: $screen-ti) {
      width: calc(50% - 30px);
    }

    @media screen and (min-width: $screen-tl) {
      margin-top: 0;
      margin-bottom: -100px;
    }

    @media screen and (min-width: $screen-d) {
      max-width: 628px;
      margin-bottom: -100px;
    }
  }

  &__slider-main {
    @media screen and (min-width: $screen-ti) {
      order: 2;
    }
  }

  &__main-photo {
    width: 100%;
    height: 100%;
    //min-height: 271px;

    @media screen and (min-width: $screen-tl) {
      width: 540px;
      height: 540px;
    }

    img {
      width: 100%;
      height: 100%;
      min-height: 271px;
      object-fit: cover;
      border-radius: 4px;
      aspect-ratio: 1 / 1;
    }
  }

  &__arrows-main {
    display: none;

    @media screen and (min-width: $screen-ti) {
      display: flex;
    }
  }

  &__arrows-right {
    display: block;
    order: 1;
    margin-bottom: 29px;

    @media screen and (min-width: $screen-tl) {
      display: none;
    }
  }
  $block-name: &; // #{$block-name}__element
}
