@import "../../scss/breakpoints";

.hero {
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background: var(--black);
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    transform: scale(1.6);
  }

  .swiper-container {
    width: 100%;
    height: inherit;
    margin: 0 auto;
  }

  .swiper-button-disabled {
    &:hover {
      animation: none !important;
    }
  }

  &__main-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slide-padding {
    margin-bottom: 100px;

    @media screen and (min-width: $screen-ti) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $screen-tl) {
      margin-bottom: 100px;
    }
  }

  &__inner {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;

    @media screen and (min-width: $screen-tl) {
      display: flex;
    }
  }

  &__nav {
    display: flex;
    gap: 0 40px;

    @media screen and (min-width: $screen-tl) {
      gap: 0 20px;
    }

    @media screen and (min-width: $screen-d) {
      gap: 0 40px;
    }
  }

  &__project-assistance-text,
  &__nav-link {
    color: var(--white, #fff);
    font-size: 18px;
    line-height: 26px; /* 144.444% */

    @media screen and (min-width: $screen-tl) {
      font-size: 16px;
    }

    @media screen and (min-width: $screen-d) {
      font-size: 18px;
    }
  }

  &__project-assistance {
    display: flex;
    gap: 0 20px;
    align-items: center;
    cursor: pointer;
  }

  &__slider-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;

    @media screen and (min-width: $screen-ti) {
      flex-wrap: nowrap;
      gap: 0 80px;
    }

    @media screen and (min-width: $screen-d) {
      gap: 0 128px;
      margin-top: 68px;
    }
  }

  &__info {
    min-height: 186px;
    margin-top: 25px;
  }

  &__info-title {
    margin: 0 0 20px;
    color: var(--white, #fff);
    font-weight: 500;
    font-size: 40px;

    @media screen and (min-width: $screen-tl) {
      margin: 0 0 28px;
      font-size: 64px;
    }

    @media screen and (min-width: $screen-d) {
      font-size: 72px;
    }
  }

  &__info-small-headline {
    margin: 0;
    color: var(--white, #fff);
    font-weight: 500;
    font-size: 28px;

    @media screen and (min-width: $screen-tl) {
      font-size: 40px;
    }

    @media screen and (min-width: $screen-d) {
      font-size: 48px;
    }
  }

  &__info-subtitle {
    margin: 20px 0;
    color: var(--white, #fff);
    font-size: 16px;
    line-height: 24px; /* 150% */

    @media screen and (min-width: $screen-tl) {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 28px;
    }

    @media screen and (min-width: $screen-d) {
      font-size: 24px;
      line-height: 32px; /* 133.333% */
    }
  }

  &__info-link {
    padding-bottom: 3px;
    color: var(--white, #fff);
    font-size: 16px;
    line-height: 24px; /* 150% */
    border-bottom: 2px solid var(--white, #fff);

    @media screen and (min-width: $screen-d) {
      font-size: 24px;
      line-height: 32px; /* 150% */
    }
  }

  &__image {
    display: flex;
    flex-shrink: 0;
    gap: 0 32px;
    width: calc(100% - 65px);
    height: 200px;
    margin-top: 50px;

    @media screen and (min-width: $screen-t) {
      width: 100%;
    }

    @media screen and (min-width: $screen-ti) {
      width: 50%;
      height: 260px;
    }

    @media screen and (min-width: $screen-tl) {
      width: 50%;
      height: 440px;
      margin-top: 0;
    }

    @media screen and (min-width: $screen-d) {
      width: 630px;
      height: 530px;
    }

    img {
      width: 100%;
      height: 270px;
      object-fit: cover;
      border-radius: 4px;

      @media screen and (min-width: $screen-ti) {
        height: 300px;
      }

      @media screen and (min-width: $screen-tl) {
        height: 522px;
      }

      @media screen and (min-width: $screen-d) {
        height: 630px;
      }
    }
  }

  &__container-flex {
    z-index: 100;
    display: none;
    gap: 0 156px;
    align-items: center;
    width: 625px;
    height: 200px;
    margin-top: -200px;

    @media screen and (min-width: $screen-ti) {
      display: flex;
      gap: 0 30px;
      width: 45%;
      height: auto;
      margin-top: -105px;
    }

    @media screen and (min-width: $screen-tl) {
      gap: 0 20px;
      margin-top: -185px;
    }

    @media screen and (min-width: $screen-d) {
      gap: 0 130px;
      width: 625px;
      height: 200px;
      margin-top: -200px;
    }
  }

  &__slider-gallery {
    .swiper-slide {
      width: 50%;
      height: 100px;
      margin: 0 !important;

      @media screen and (min-width: $screen-ti) {
        height: 130px;
      }

      @media screen and (min-width: $screen-tl) {
        height: 167px;
      }

      @media screen and (min-width: $screen-d) {
        height: auto;
      }
    }
  }

  &__arrows-main {
    @media screen and (min-width: $screen-ti) {
      display: none;
    }
  }

  &__arrows {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-top: 155px;

    @media screen and (min-width: $screen-ti) {
      margin-top: 0;
    }
  }

  &__slide-photo {
    object-fit: cover;
    border-radius: 4px;

    @media screen and (min-width: $screen-ti) {
      width: 95%;
      height: 130px;
    }

    @media screen and (min-width: $screen-tl) {
      width: 95%;
      height: 167px;
    }

    @media screen and (min-width: $screen-d) {
      width: 200px;
      height: 200px;
    }
  }

  &__swiper-button-next {
    position: relative;
    z-index: 100;
    width: 32px;
    height: 32px;
    margin-bottom: 0;
    color: var(--white);
    transform: rotate(180deg);

    @media screen and (min-width: $screen-d) {
      width: 48px;
      height: 48px;
      margin-bottom: 48px;
    }

    &:hover {
      animation: arrow-hover 1.5s infinite !important;
    }

    @keyframes arrow-hover {
      0% {
        left: 0;
      }

      40% {
        left: 10px;
      }

      80% {
        left: 0;
      }
    }
  }

  &__swiper-button-prev {
    position: relative;
    z-index: 100;
    width: 32px;
    height: 32px;

    @media screen and (min-width: $screen-d) {
      width: 48px;
      height: 48px;
    }

    &:hover {
      animation: arrow-hover-prev 1.5s infinite !important;
    }

    @keyframes arrow-hover-prev {
      0% {
        right: 0;
      }

      40% {
        right: 10px;
      }

      80% {
        right: 0;
      }
    }
  }

  &__paginator {
    display: flex;
    gap: 0 20px;
    justify-content: center;
    width: calc(100% - 40px);
    margin-top: 85px;

    @media screen and (min-width: $screen-ti) {
      display: none;
    }
  }
  $block-name: &; // #{$block-name}__element
}
