@import "../../scss/breakpoints";

.slider-arrows {
  $block-name: &; // #{$block-name}__element

  &__inner {
    @media screen and (min-width: $screen-m) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      width: min-content;
    }

    @media screen and (min-width: $screen-ti) {
      margin-top: 0;
    }

    @media screen and (min-width: $screen-tl) {
      gap: 48px;
      align-items: flex-start;
      margin-top: 10px;
    }

    @media screen and (min-width: $screen-d) {
      align-items: center;
      margin-top: 0;
    }
  }

  &__swiper-button-next {
    position: relative;
    z-index: 100;
    width: 32px;
    height: 32px;
    margin-bottom: 0;
    color: var(--white);
    transform: rotate(180deg);

    @media screen and (min-width: $screen-d) {
      width: 48px;
      height: 48px;
    }

    &:hover {
      animation: arrow-hover 1.5s infinite;
    }

    @keyframes arrow-hover {
      0% {
        left: 0;
      }

      40% {
        left: 10px;
      }

      80% {
        left: 0;
      }
    }
  }

  &__swiper-button-prev {
    position: relative;
    z-index: 100;
    width: 32px;
    height: 32px;

    @media screen and (min-width: $screen-d) {
      width: 48px;
      height: 48px;
    }

    &:hover {
      animation: arrow-hover-prev 1.5s infinite;
    }

    @keyframes arrow-hover-prev {
      0% {
        right: 0;
      }

      40% {
        right: 10px;
      }

      80% {
        right: 0;
      }
    }
  }
}
