@import "../../scss/breakpoints";

.slider-arrows {
  $block-name: &;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: min-content;

    @media screen and (min-width: $screen-tl) {
      gap: 48px;
      align-items: flex-start;
      margin-top: 10px;
    }

    @media screen and (min-width: $screen-d) {
      align-items: center;
      margin-top: 0;
    }
  }

  &__swiper-button-next,
  &__swiper-button-prev {
    position: relative;
    z-index: 100;
    width: 32px;
    height: 32px;
    transition: 0.3s ease-out;

    @media screen and (min-width: $screen-d) {
      width: 48px;
      height: 48px;
    }
  }

  &__swiper-button-next {
    left: 0;
    margin-bottom: 0;
    color: var(--white);
    transform: rotate(180deg);

    &:hover {
      left: 10px;
    }
  }

  &__swiper-button-prev {
    right: 0;

    &:hover {
      right: 10px;
    }
  }
}
