@import "../../scss/breakpoints";

.founders {
  position: relative;
  padding: 32px 0 76px;
  overflow: hidden;
  background: var(--green, #1f7b5c);

  @media screen and (min-width: $screen-d) {
    padding: 96px 0 88px;
  }

  .hide {
    @media screen and (min-width: $screen-ti) {
      display: flex;
      flex-wrap: wrap;
      gap: 0 50px;
      align-items: flex-end;
    }

    @media screen and (min-width: $screen-tl) {
      position: absolute;
      overflow: hidden;
      opacity: 0;
      transition: 0.7s ease-out;
    }
  }

  .show {
    @media screen and (min-width: $screen-ti) {
      display: flex;
      flex-wrap: wrap;
      gap: 0 50px;
      align-items: flex-end;
    }

    @media screen and (min-width: $screen-tl) {
      position: relative;
      overflow: visible;
      opacity: 1;
      transition: 0.7s ease-out;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 0 148px;
    justify-content: space-between;
    margin-top: 48px;

    @media screen and (min-width: $screen-tl) {
      flex-wrap: nowrap;
      gap: 0 62px;
    }

    @media screen and (min-width: $screen-d) {
      gap: 0 148px;
      margin-top: 64px;
    }
  }

  &__left {
    display: none;
    white-space: nowrap;

    @media screen and (min-width: $screen-tl) {
      display: block;
      width: 100%;
    }
  }

  &__item {
    position: relative;
    z-index: 100;
    margin-bottom: 48px;
    padding: 0;
    color: var(--white, #fff);
    border-left: 2px solid transparent;
    cursor: pointer;
    opacity: 1;

    @media screen and (min-width: $screen-ti) {
      width: 100%;
    }

    @media screen and (min-width: $screen-tl) {
      width: fit-content;
      padding-left: 40px;
      opacity: 0.7;
    }

    &.active {
      border-left: 2px solid var(--white, #fff);
      cursor: auto;
      opacity: 1;
    }
  }

  &__name-mobile {
    @media screen and (min-width: $screen-tl) {
      display: none;
    }
  }

  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    font-family: var(--font-sourceserif);
    line-height: 32px;

    @media screen and (min-width: $screen-d) {
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__post {
    margin: 16px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.7;
  }

  &__right {
    position: relative;
    z-index: 200;
    width: 100%;

    @media screen and (min-width: $screen-tl) {
      max-width: 540px;
    }

    @media screen and (min-width: $screen-d) {
      width: 628px;
      min-width: 628px;
      max-width: 628px;
    }
  }

  &__container-tab {
    display: block;
    margin-bottom: 100px;

    @media screen and (min-width: $screen-ti) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: $screen-d) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__photo {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    aspect-ratio: auto;

    @media screen and (min-width: $screen-t) {
      max-height: 412px;
    }

    @media screen and (min-width: $screen-ti) {
      width: 37%;
    }

    @media screen and (min-width: $screen-tl) {
      width: 100%;
    }
  }

  &__text {
    margin: 48px 0 0;
    color: var(--white, #fff);
    font-size: 18px;
    line-height: 26px;

    @media screen and (min-width: $screen-ti) {
      width: calc(100% - 50px - 37%);
      margin: 0;
    }

    @media screen and (min-width: $screen-tl) {
      width: 100%;
      margin: 48px 0 0;
    }

    @media screen and (min-width: $screen-d) {
      width: 100%;
      margin: 64px 0 53px;
    }
  }

  &__container-signature {
    display: flex;
    justify-content: flex-end;
    width: auto;

    @media screen and (min-width: $screen-ti) {
      width: 100%;
    }
  }

  &__signature {
    &--first {
      width: 160px;
      height: 160px;
      background-size: 160px;

      @media screen and (min-width: $screen-d) {
        width: 366px;
        height: 215px;
      }
    }

    &--second {
      width: 160px;
      height: 160px;
      background-size: 160px;

      @media screen and (min-width: $screen-d) {
        width: 268px;
        height: 136px;
      }
    }
  }
  $block-name: &;
}
