@use "sass:color";

:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --white: #ffffff;
  --black: #000000;
  --yellow: #f2a84f;
  --burgundy: #981140;
  --grey: #f3f3f3;
  --green: #1f7b5c;
  --pink: #d91869;
  --pink-dark: #b3315e;
  --blob-color: #dc9138;
  --background-slider-burgundy: linear-gradient(0deg, #B3315E 0%, #B3315E 100%), #4371AC;
  --grey-line: #c7c7c7;
  --grey-post-color: #7e7e7e;


  --font-base: RobotoFlex, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-notosans: NotoSans, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-roboto: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-sourceserif: SourceSerifPro, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;
}

