//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header--' + modsList[i].trim();
      }
    }

  header.header(class= allMods)&attributes(attributes)
    .container
      .header__inner
        a.logo.header__container-logo(href='#')
          svg.header__logo
            use(xlink:href='img/svgSprite.svg#icon__logo')
        .header__social-network
          -
            let icons = ['icon__youtube', 'icon__classmates', 'icon__vk', 'icon__tg']
          each icon in icons
            a.header__container-icon(href='#')
              svg.header__social-network-icon
                use(xlink:href='img/svgSprite.svg#' + icon)
        .header__burger
          +heart-animation
          //svg.header__icon-heart
            //use(xlink:href='img/svgSprite.svg#icon__heart')
          +burger
